<%- include('../partials/header.ejs')%>

<div class="container">
    <div class="row">
        <h2 class="pageHeader">Create A New Campground!</h2>
        <div class="formDiv">
            <form action="/campgrounds" method="post">
                <div class="form-group">
                    <label>Campground Name</label>
                    <input class="form-control" type="text" name="name">
                </div>
                <div class="form-group">
                    <label>Campground Cost Per Night</label>
                    <input class="form-control" type="number" name="price" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <label>Campground Image URL</label>
                    <input class="form-control" name="image" type="text">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" name="description" type="text">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-block btn-primary" type="submit" value="Submit">
                </div>
            </form>
            <a href="/">Go Back</a>
        </div>
    </div>
</div>



<%- include('../partials/footer.ejs')%>