.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.thumbnail .index-image{
    height: 195px;
    width: 260px;
}
.deleteForm {
    display: inline;
}

.pageHeader{
    text-align: center;
}

.formDiv {
    width: 30%;
    margin: 25px auto;
}

/* Google Map */
#map {
    height: 400px;
    width: 100%;
}

.row {
    display:flex;
    flex-wrap: wrap;
}



@media screen and (max-width: 600px) {
    .formDiv {
        width: 75%;
    }
}