.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}
.deleteForm {
    display: inline;
}

.pageHeader{
    text-align: center;
}

.formDiv {
    width: 30%;
    margin: 25px auto;
}

@media screen and (max-width: 600px) {
    .formDiv {
        width: 75%;
    }
}